.weatherSearch {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;

}

.input-container input {
    padding-right: 40px;
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
}

.input-container button {
    /* Ajusta lupa*/
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--yellow);
    font-size: 20px;
}

.input-container button i {
    padding: 10px;
    pointer-events: none;
}

.weatherSearch-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.weatherSearch-content h1 {
    color: var(--yellow);
    font-size: 3rem;
}

.weatherSearch-content h2,
.weatherSearch-content div h3,
.weatherSearch-content .weatherCard-block p {
    color: var(--white);
}

.weatherSearch-content h3,
.weatherSearch-content p {
    color: var(--black);
}

@media(min-width: 768px) {
    .input-container {
        width: 30%;
    }

    .weatherSearch-content {
        align-items: space-between;
    }

}

@media(max-width: 767px) {
    .weatherSearch-content {
        align-items: center;
    }

}