.image-logo {
    width: 80px;
    height: 60px;
    padding: 5px;
}

.image-position {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: aliceblue;
    padding: 0%;
}

@media (min-width: 768px) {
    .image-logo {
        width: 100px;
        height: 80px;
    }

    .image-position {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 767px) {}